.login-page {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #8d8d8d;
    font-family: 'Helvetica';
    font-size: 14px;
    margin: auto;
    max-width: 380px;
    padding: 28px;
    text-align: left;
}

.login-header {
    color: #111;
    font-family: TradeGothicforNike365-BdCn, Helvetica, sans-serif !important;
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto;
    max-width: 25ch;
    padding: 32px 0 27px;
    text-align: center;
    font-weight: 700;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 324px;
}

.form-input {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 5px 0;
    position: relative;
    border-radius: 3px;
    box-sizing: border-box;
    color: #8d8d8d;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
}

.examples {

}

.login-btn {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: TradeGothicforNike365-BdCn,Helvetica!important;
    font-size: 15px;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    outline: 0;
}