
.products-main {
    display: flex;
    justify-content: space-between;
    padding-left: calc(24px * 2);
    padding-right: calc(24px * 2);
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 500px));
    gap: 20px;
    margin-bottom: 40px;
}

.product {
    min-width: 100px;
    border: 1px solid black;
}

.product:hover {

}

.filters-container {
    min-width: 300px;
}
