.search-btn {
    margin-left: 0;
    background-color: azure;
}

.input-barr {
    margin-right: 0;
    background-color: azure;

}

body {
    font-family: "Helvetica Neue";
}

main {
    display: flex;

}

a {
    text-decoration: none;
    margin-right: 2rem;

}


